@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);

@font-face {
  font-family: 'weathericons';
  src: url("//cdnjs.cloudflare.com/ajax/libs/weather-icons/1.2/fonts/weathericons-regular-webfont.eot");
  src: url("//cdnjs.cloudflare.com/ajax/libs/weather-icons/1.2/fonts/weathericons-regular-webfont.eot?#iefix") 
  format("embedded-opentype"), 
  url("//cdnjs.cloudflare.com/ajax/libs/weather-icons/1.2/fonts/weathericons-regular-webfont.woff") 
  format("woff"), 
  url("//cdnjs.cloudflare.com/ajax/libs/weather-icons/1.2/fonts/weathericons-regular-webfont.ttf") 
  format("truetype"), 
  url("//cdnjs.cloudflare.com/ajax/libs/weather-icons/1.2/fonts/weathericons-regular-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

* {
    box-sizing: border-box;
    position: relative;
}

html,
body {
    width: 100%;
    height: 100%;
}

main {
    width: 50%;
    height: 100%;
    float: left;
    padding: 2rem;
}

.device {
    position: absolute;
    right: 2rem;
    width: 396px;
    height: 816px;
    padding: 90px 10px;
    border: 5px solid #2f2f2f;
    border-radius: 60px;
    background-color: #171717;
    box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.4);
    color: #fff;
}

.device:before,
.device::after {
    content: '';
    position: absolute;
    z-index: 2;
}

.device:before {
    width: 20%;
    height: 10px;
    top: 40px;
    left: 40%;
    border-radius: 10px;
    background-color: #2f2f2f;
}

.device:after {
    width: 50px;
    height: 50px;
    border: 5px solid #2f2f2f;
    border-radius: 50%;
    left: calc(50% - 25px);
    bottom: 20px;
}

.device section {
    height: calc(100% - 50px);
    width: 100%;
    overflow: hidden;
    background-color: #644749;
}

.device header,
.device footer {
    height: 40px;
    background-color: #8ba892;
}

.weather {
    height: 16.66667%;
    overflow: hidden;
}

.weather:hover,
.device section:not(:hover) .weather:first-child {
    height: 50%;
}

.weather:hover .icon,
.device section:not(:hover) .weather:first-child .icon {
    transform: translateY(0);
    z-index: 1;
}

.weather:hover+.weather .icon,
.device section:not(:hover) .weather:first-child+.weather .icon {
    transform: translateY(-408px);
}

.weather:hover~.weather .icon,
.device section:not(:hover) .weather:first-child~.weather .icon {
    z-index: 1;
}

.weather:hover:not(:first-child) .data,
.device section:not(:hover) .weather:first-child:not(:first-child).data {
    -webkit-animation-name: slide-up;
    animation-name: slide-up;
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
    -webkit-animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
    animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}
.weather .content {
    right: 0;
    width: 40%;
    position: absolute;
    color: white;
    font-family: 'Lato', sans-serif;
}

.weather h3 {
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.4);
    margin-bottom: 0;
    font-weight: 700;
}

.weather h2 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
    font-weight: 400;
}

.weather .degrees {
    font-size: 2.7rem;
    font-weight: 300;
    color: #fff;
    line-height: 1;
}

.weather .degrees:after {
    content: '\00b0';
}

.icon {
    font-family: 'weathericons';
    z-index: -1;
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 50%;
    height: 50px;
    transform: translateY(136px);
}

.icon i {
    font-style: normal;
    position: absolute;
}

.cloud {
    right: 0;
    top: 70px;
    width: 75%;
    height: 60px;
    background: #644749;
    border-radius: 50px;
}

.cloud:before,
.cloud:after {
    content: '';
    position: absolute;
    border-radius: 50%;
}

.cloud:before {
    width: 80px;
    height: 80px;
    background: #644749;
    bottom: 20px;
    right: 20px;
}

.cloud:after {
    width: 50px;
    height: 50px;
    background: #644749;
    bottom: 30px;
    left: 30px;
}

.sun {
    -webkit-animation-name: rotate;
    animation-name: rotate;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}

.moon,
.sun {
    left: 5px;
    font-size: 6rem;
}

.sun:before {
    content: "\f00d";
}

.moon::before {
    content: "\f07b";
}

.sprinkles {
    transform: skewX(-20deg);
    right: 30px;
    top: 100px;
    z-index: -1;
    -webkit-animation-name: sprinkle;
    animation-name: sprinkle;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    color: #d7d7d8;
}

.sprinkles+.sprinkles {
    -webkit-animation-delay: 0.25s;
    animation-delay: 0.25s;
}

.sprinkles+.sprinkles+.sprinkles {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

.sprinkles+.sprinkles+.sprinkles+.sprinkles {
    -webkit-animation-delay: 0.75s;
    animation-delay: 0.75s;
}

.sprinkles:before {
    font-size: 3rem;
    content: "\f04e \f04e \f04e \f04e \f04e";
}

.snowflakes {
    position: absolute;
    top: 70px;
    width: 70%;
    right: 0;
    -webkit-animation: snowflakes 3s  linear infinite;
    animation: snowflakes 3s  linear infinite;
}

.snowflakes .snowflakes {
    position: relative;
    display: inline-block;
}

.snowflake {
    color: #c4dff6;
}

.snowflake:nth-child(1) {
    -webkit-animation: snowflake 3.1s ease-in-out infinite;
    animation: snowflake 3.1s ease-in-out infinite;
}

.snowflake:nth-child(2) {
    animation: snowflake 3.1s ease-in-out infinite reverse;
    top: -20px;
}

.snowflake:nth-child(3) {
    -webkit-animation: snowflake 3.1s 0.2s ease-in-out infinite;
    animation: snowflake 3.1s 0.2s ease-in-out infinite;
    top: 10px;
}

.snowflake:nth-child(4) {
    animation: snowflake 3.1s 0.4s ease-in-out infinite reverse;
    top: -30px;
}

.snowflake:before {
    font-size: 3rem;
    content: "\f076";
}

.time-morning {
    background-color: #e3bb88;
}

.time-morning .sun {
    color: #f48924;
}

.time-day {
    background-color: #f48924;
}

.time-day .sun {
    color: #b1695a;
}

.timd-day .cloud,
.timd-day .cloud:before,
.timd-day .cloud:after {
    background-color: #d7d7d8;
}

.time-evening {
    background-color: #b1695a;
}

.time-evening .sun {
    color: #644749;
}

.time-evening .cloud,
.time-evening .cloud:before,
.time-evening .cloud:after {
    background-color: #d7d7d8;
}

.time-nigth {
    background-color: #644749;
}

.time-nigth .moon {
    color: #c4dff6;
}

.time-night .cloud,
.time-night .cloud:before,
.time-night .cloud:after {
  background-color: #c4dff6;
}

.weather,
.icon {
    transition: all 0.7s ease-in-out;
}

@-webkit-keyframes slide-up {
    from {
        transform: translateY(150%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes slide-up {
    from {
      transform: translateY(150%);
    }
  
    to {
      transform: translateY(0);
    }
  }

@-webkit-keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes sprinkle {
    from {
      transform: translateX(0) translateY(0) skewX(-10deg);
      opacity: 1;
    }
  
    to {
      transform: translateX(-70px) translateY(150px) skewX(-10deg);
      opacity: 0;
    }
  }
  
  @keyframes sprinkle {
    from {
      transform: translateX(0) translateY(0) skewX(-10deg);
      opacity: 1;
    }
  
    to {
      transform: translateX(-70px) translateY(150px) skewX(-10deg);
      opacity: 0;
    }
  }
  
  @-webkit-keyframes snowflakes {
    from {
      transform: translateY(0);
      opacity: 1;
    }
  
    50% {
      opacity: 1;
    }
  
    to {
      transform: translateY(200px);
      opacity: 0;
    }
  }
  
  @keyframes snowflakes {
    from {
      transform: translateY(0);
      opacity: 1;
    }
  
    50% {
      opacity: 1;
    }
  
    to {
      transform: translateY(200px);
      opacity: 0;
    }
  }
  
  @-webkit-keyframes snowflake {
    0% {
      transform: translateX(0);
    }
  
    25% {
      transform: translateX(50px);
    }
  
    50% {
      transform: translateX(0);
      opacity: 1;
    }
  
    75% {
      transform: translateX(30px);
    }
  
    100% {
      transform: translateX(0);
    }
  }
  
  @keyframes snowflake {
    0% {
      transform: translateX(0);
    }
  
    25% {
      transform: translateX(50px);
    }
  
    50% {
      transform: translateX(0);
      opacity: 1;
    }
  
    75% {
      transform: translateX(30px);
    }
  
    100% {
      transform: translateX(0);
    }
  }

